<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Chat Demo", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">

        <% if user_signed_in? %>
          <li><%= link_to "Hi, #{current_user.email}", root_path %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Conversations <b class="caret"></b>
            </a>
            <div class="dropdown-menu">
              <ul class="media-list">
              <% @conversations.each do |conversation| %>
                <li class="media">
                  <div class="media-left">
                    <%= image_tag "http://placehold.it/50x50", class: "media-object" %>
                  </div>
                  <div class="media-body">
                    <%= link_to "", conversation_path(conversation), class: "conversation", "data-cid" => conversation.id %>
                    <h4 class="media-heading"><%= conversation_receiver(conversation).email %></h4>
                    <% if conversation.messages.any? %>
                      <p><%= conversation.messages.last.content %></p>
                      <time datetime="<%= conversation.messages.last %>">
                        <i><%= conversation.messages.last.created_at.strftime "%D %H:%M %p" %></i>
                      </time>
                    <% else %>
                      <p>No messages</p>
                    <% end %>
                  </div>
                </li>
              <% end %>
              </ul>
            </div>
          </li>
          <li>
            <%= link_to "Log out", destroy_user_session_path, method: :delete%>
          </li>
        <% else %>
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Log in", new_user_session_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
